<div class="container">
  <div class="row">
    <div class="col-md-4 m-auto my-5 p-4 shadow bgFormColor">
      <h1 class="text-center textColor">Sign Up</h1>
      <form
        [formGroup]="authForm"
        #empAuthForm="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- Full Name -->
        <div class="mb-4">
          <label for="name" class="form-label textColor">Full Name</label>
          <input
            type="text"
            class="form-control relative"
            id="name"
            formControlName="name"
            [ngClass]="{'is-invalid':authForm.controls?.['name']?.invalid && authForm.controls?.['name']?.touched}"
          />
          <small
            *ngIf="authForm.controls?.['name']?.errors?.['required']"
            class="invalid-feedback text-danger absolute"
          >
            Name is required
          </small>
        </div>

        <!-- Email -->
        <div class="mb-4">
          <label for="email" class="form-label textColor">Email</label>
          <input
            type="email"
            class="form-control relative"
            id="email"
            formControlName="email"
            [ngClass]="{'is-invalid':authForm.controls?.['email']?.invalid && authForm.controls?.['email'].touched}"
          />
          <small
            *ngIf="authForm.controls?.['email']?.errors?.['required']"
            class="invalid-feedback text-danger absolute"
          >
            Email is required
          </small>
        </div>

        <!-- Password -->
        <div class="mb-4">
          <label for="password" class="form-label textColor">Password</label>
          <input
            type="{{ hide }}"
            class="form-control relative"
            id="password"
            formControlName="password"
            [ngClass]="{'is-invalid':authForm.controls?.['password']?.invalid && authForm.controls?.['password']?.touched}"
          />
          <span class="eye">
            <i
              class="fa fa-{{
                hide == 'password' ? 'eye-slash' : 'eye'
              }} random-eye"
              id="togglePassword"
              (click)="
                hide == 'password' ? (hide = 'text') : (hide = 'password')
              "
            ></i>
          </span>
          <small
            *ngIf="authForm.controls?.['password']?.errors?.['required']"
            class="invalid-feedback text-danger absolute"
          >
            Password is required
          </small>
        </div>

        <!-- Upload Profile Image -->
        <div class="d-xl-flex justify-content-between">
          <div class="mb-4">
            <button
              type="button"
              class="btnSubmit"
              (click)="filePicker.click()"
            >
              Profile Image
            </button>
            <input
              type="file"
              id="file"
              #filePicker
              (change)="onImagePicked($event)"
            />
          </div>

          <!-- Image Preview -->
          <div
            class="image-preview"
            *ngIf="
              imagePreview !== '' && imagePreview && authForm.get('image').valid
            "
          >
            <img
              [src]="imagePreview"
              class="img-fluid"
              [alt]="authForm.value.title"
            />
          </div>
        </div>
        <div class="d-md-flex justify-content-between">
          <p class="textColor alreadyAcc" (click)="onModeSwitch()">
            <a>Already have account? Sign in</a>
          </p>
          <button type="submit" class="btn btnSubmit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
